.version.index /* version checker */
{
	color: #000019;
	background-color: #210CFF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 98px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 382px;
}

#u1401
{
	z-index: 2;
	width: 640px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
}

body
{
	position: relative;
	min-width: 680px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

