.version.research /* version checker */
{
	color: #00000B;
	background-color: #C50AB5;
}

.html
{
	background-color: #F5F5F5;
}

#page
{
	z-index: 1;
	width: 680px;
	min-height: 498.9499999999998px;
	-pie-box-shadow: 0px 0px 10px 3px #E5E5E5;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1),0px 0px 10px rgba(0,0,0,0.1);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -15px;
	padding-top: 59px;
	width: 0.01px;
}

#u322-3
{
	z-index: 404;
	width: 680px;
	min-height: 50px;
	top: 0px;
	left: 50%;
	margin-left: -340px;
}

#menuu136
{
	z-index: 407;
	width: 586px;
	top: -1px;
	left: 50%;
	margin-left: -266px;
}

#u137
{
	width: 74px;
	min-height: 50px;
	margin-right: -10000px;
}

#u138
{
	width: 74px;
	padding-bottom: 31px;
}

#u138:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u138.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u139-4
{
	width: 66px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 4px;
}

#u138:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u138:active #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u138.MuseMenuActive #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u151
{
	width: 79px;
	min-height: 50px;
	margin-right: -10000px;
	left: 76px;
}

#u154
{
	width: 79px;
	padding-bottom: 31px;
}

#u154:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u154.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u156-4
{
	width: 71px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 4px;
}

#u154:hover #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u154:active #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u154.MuseMenuActive #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u237
{
	width: 88px;
	min-height: 50px;
	margin-right: -10000px;
	left: 157px;
}

#u238
{
	width: 88px;
	padding-bottom: 31px;
}

#u238:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u238.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u240-4
{
	width: 80px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 4px;
}

#u238:hover #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u238:active #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u238.MuseMenuActive #u240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 103px;
	min-height: 50px;
	margin-right: -10000px;
	left: 247px;
}

#u168
{
	width: 103px;
	padding-bottom: 31px;
}

#u168:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 4px;
}

#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 70px;
	min-height: 50px;
	margin-right: -10000px;
	left: 352px;
}

#u145
{
	width: 70px;
	padding-bottom: 31px;
}

#u145:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u145.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u146-4
{
	width: 63px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 3px;
}

#u145:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u158
{
	width: 113px;
	min-height: 50px;
	margin-right: -10000px;
	left: 424px;
}

#u161
{
	width: 113px;
	padding-bottom: 31px;
}

#u161:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u161.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u164-4
{
	width: 106px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 3px;
}

#u161:hover #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u161:active #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u161.MuseMenuActive #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u172
{
	width: 47px;
	min-height: 50px;
	margin-right: -10000px;
	left: 539px;
}

#u173
{
	width: 47px;
	padding-bottom: 31px;
}

#u173:hover
{
	width: 47px;
	min-height: 0px;
	margin: 0px;
}

#u173.MuseMenuActive
{
	width: 47px;
	min-height: 0px;
	margin: 0px;
}

#u176-4
{
	width: 40px;
	min-height: 19px;
	margin-right: -10000px;
	top: 15px;
	left: 3px;
}

#u173:hover #u176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u173:active #u176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive #u176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u226
{
	z-index: 450;
	top: 5px;
	left: 50%;
	margin-left: -314px;
}

#u226:hover
{
	min-height: 0px;
	margin: 0px 0px 0px -314px;
}

#u383-4
{
	z-index: 400;
	width: 640px;
	min-height: 34px;
	background-color: transparent;
	color: #14988B;
	text-align: center;
	font-size: 26px;
	line-height: 31px;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}

#u335-360
{
	z-index: 2;
	width: 640px;
	min-height: 2213px;
	background-color: transparent;
	color: #000000;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u335-7,#u335-11,#u335-15,#u335-19,#u335-23,#u335-27,#u335-31
{
	font-size: 12px;
	text-decoration: none;
	line-height: 14px;
	font-weight: normal;
}

#u1219
{
	margin-top: -31px;
	margin-bottom: 31px;
}

#u454
{
	z-index: 49;
	width: 96px;
	background-color: transparent;
}

#u1223
{
	margin-top: -5px;
	margin-bottom: 5px;
}

#u461
{
	z-index: 102;
	width: 97px;
	background-color: transparent;
}

#u1225
{
	margin-top: -13px;
	margin-bottom: 13px;
}

#u468
{
	z-index: 146;
	width: 96px;
	background-color: transparent;
}

#u1227
{
	margin-top: -10px;
	margin-bottom: 10px;
}

#u335-87,#u335-170
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u475
{
	z-index: 195;
	width: 97px;
	background-color: transparent;
}

#u1229
{
	margin-top: -11px;
	margin-bottom: 11px;
}

#u481
{
	z-index: 258;
	width: 98px;
	background-color: transparent;
}

#u488
{
	z-index: 325;
	width: 98px;
	background-color: transparent;
}

#u335-294,#u335-296
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	font-style: normal;
}

#u1231,#u1233
{
	margin-top: -9px;
	margin-bottom: 9px;
}

#u335-82,#u335-83,#u335-121,#u335-122,#u335-165,#u335-166,#u335-223,#u335-224,#u335-285,#u335-286,#u335-318,#u335-319
{
	text-decoration: none;
}

#u495
{
	z-index: 363;
	width: 99px;
	background-color: transparent;
}

#u335-43,#u335-45,#u335-91,#u335-93,#u335-130,#u335-132,#u335-174,#u335-176,#u335-232,#u335-234,#u335-327,#u335-329
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u335-2,#u335-48,#u335-60,#u335-65,#u335-70,#u335-75,#u335-80,#u335-96,#u335-105,#u335-113,#u335-118,#u335-133,#u335-135,#u335-144,#u335-152,#u335-157,#u335-162,#u335-163,#u335-179,#u335-180,#u335-182,#u335-191,#u335-199,#u335-207,#u335-215,#u335-220,#u335-237,#u335-246,#u335-254,#u335-262,#u335-270,#u335-278,#u335-283,#u335-299,#u335-308,#u335-316,#u335-332,#u335-333,#u335-335,#u335-338,#u335-347,#u335-349,#u335-351
{
	font-size: 12px;
	line-height: 14px;
}

#u335-3,#u335-32,#u335-33,#u335-39,#u335-46,#u335-49,#u335-84,#u335-94,#u335-97,#u335-119,#u335-123,#u335-126,#u335-136,#u335-167,#u335-177,#u335-183,#u335-221,#u335-225,#u335-228,#u335-235,#u335-238,#u335-287,#u335-290,#u335-297,#u335-300,#u335-320,#u335-323,#u335-330,#u335-336,#u335-339,#u335-352
{
	font-size: 12px;
	text-decoration: none;
	line-height: 14px;
}

#u335-35,#u335-86,#u335-125,#u335-169,#u335-227,#u335-289,#u335-322,#u335-354,#u335-358
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}

#u335-36,#u335-40,#u335-81,#u335-88,#u335-120,#u335-127,#u335-164,#u335-171,#u335-222,#u335-229,#u335-284,#u335-291,#u335-317,#u335-324,#u335-355
{
	font-size: 1px;
	line-height: 0px;
}

#u1136
{
	z-index: 397;
	width: 256px;
	background-color: transparent;
}

#u454_img,#u461_img,#u468_img,#u475_img,#u481_img,#u488_img,#u495_img,#u1136_img
{
	vertical-align: bottom;
}

#pu321-4
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 21px;
}

#u321-4
{
	z-index: 451;
	width: 282px;
	min-height: 14px;
	margin-right: -10000px;
}

#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 282px;
	margin: 0px -10000px 0px 0px;
}

#u334-26
{
	z-index: 455;
	width: 377px;
	min-height: 14px;
	margin-right: -10000px;
	left: 281px;
}

#u334-26:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 377px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 680px;
	padding-bottom: 133px;
}

#page .verticalspacer
{
	clear: both;
}

